html {
	background-image: url(https://media1.giphy.com/media/RPflqnQcSEXvvkzAxf/giphy.gif?cid=790b761182b8957ac6c541e1d6b657dd6d75e865789fac17&rid=giphy.gif&ct=g);
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}
body{
	font-family: Calibri;
	color: white;
}

footer {
	position: relative;
	bottom: -320px;
	font-size: 28px;
}

